.statistics {
    text-align:center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.statistics .statcol {
    flex-basis: auto;
}

.statistics .statcol .statdisplay {
    padding: 5px 5px 30px;
    text-align:left;
}

.statistics .statcol thead {
    background-color: lightblue;
    border-bottom: 1px solid lightgrey;
}

.statistics .statcol th, .statistics .statcol td {
    padding: 5px;
}

.statistics .statcol tr:nth-child(even) {
    background-color: lightgrey;
}

table {
    margin:auto;
}

label {
    margin-bottom:0px;
}

select {
    margin : 1em 0 1em 0;
}

.btn-remove, .btn-add, .btn-back, .btn-more, .btn-top, .btn-up, .btn-down, .btn-refresh {
    position: relative;
    top: 2px;
}

.yt-btn {
    margin:auto;
}

#search_results .btn-remove, #search_results .track-user, #suggestions .btn-remove {
    display: none;
}

#playlist-playing, #playlist-queue {
    list-style-type: none;
    padding: 0;
	text-align: center;
	color: grey;
	letter-spacing: 10px;
    margin: 13px 10px 10px;

}

.albumart {
    object-fit: cover;
        display: block;
        max-width: 280px;
        max-height: 140px;
	    width: 100%;
        height: auto;
}

.track-title {
	display: block;
    font-size: x-large;
}
.track-artist {
	display: block;
}

.track-url {
    display: block;
}

.track-album {
    display: block;
}

.centered {
	margin: auto
}

.track-duration,.track-user,.track-source {
	color: #aaa;
}


iframe#YT {
    width: 100%;
    height : auto;
    aspect-ratio : 16 / 9;
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon{ /*Les icones de selection de chansons*/
    background: transparent none no-repeat;
    border: none;
    background-size: 20px;
    padding-left: 20px;
    width: 20px;
    height: 20px;
	cursor: pointer;
    margin: 6px;
    display: block;
}

.recto, .verso {
    flex-wrap: nowrap;
}

.col-1 {
    padding:0;
}

.icon.btn-back {
    background-image: url("resources/icons/arrow-alt-circle-left-solid.svg");
}
.icon.btn-more {
    background-image: url("resources/icons/ellipsis-h-solid.svg");
}
.icon.btn-up{
    background-image: url("resources/icons/chevron-up-solid.svg");
}
.icon.btn-down{
    background-image: url("resources/icons/chevron-down-solid.svg");
}
.icon.btn-remove{
    background-image: url("resources/icons/x.svg");
}
.icon.btn-add{
    background-image: url("resources/icons/plus-square-regular.svg");
}
.icon.btn-refresh {
    background-image: url("resources/icons/sync-solid.svg");
}
.icon.btn-stats {
    background-image: url("resources/icons/stats.svg");
}
.icon.btn-top{
    background-image: url("resources/icons/angle-double-up.svg");
    height: 30px;
}
.icon.btn-volume {
    background-image: url("resources/icons/volume.svg");
}
